<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="REI.SFDC.Commom.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://login.salesforce.com/services/Soap/u/36.0"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="REI.SFDC.Partner.WSDL.Services.Soap" name="Soap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <REI.SFDC.Commom.Services.Properties.Settings>
            <setting name="REI_SFDC_Commom_Services_REI_SFDC_Tooling_WSDL_Services_SforceServiceService"
                serializeAs="String">
                <value>https://na30.salesforce.com/services/Soap/T/36.0</value>
            </setting>
        </REI.SFDC.Commom.Services.Properties.Settings>
    </applicationSettings>
</configuration>